@model LaptopPCStore.Models.Invoice

@{
    ViewData["Title"] = "Invoice Details";
}

<h1>Invoice </h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userID)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fk6.lap_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fk6.lap_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inv_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inv_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inv_phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inv_phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inv_mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inv_mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inv_address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inv_address)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.invoice_id">Edit</a> |*@
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
