@model IEnumerable<LaptopPCStore.Models.Vendor>

@{
    ViewData["Title"] = "Vendor Index";
}

<h1>Vendor Index</h1>

<p>
    <a asp-action="Create">Create New Vendor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ven_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ven_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ven_mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ven_address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ven_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ven_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ven_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ven_address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ven_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ven_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ven_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
